/* poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
/* common css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}


/* footer css */
.social i {
  width: 50px;
  height: 50px;
  padding-top: 15px;
}
